footer {
    margin-top: 100px;
    height: 742px;
    padding-top: 2em;
    background: rgb(199,178,134);
    background: $backgroundColor;
    box-shadow: $shadowBox;
    display: grid;
    grid-auto-columns: 1fr;
    align-items: center;

    @include breakpoint(viewMiddle) {
        height: 642px;
        display: grid;
        grid-template-columns: [x0] 2fr [x1] 1fr [x2] 2fr [x3];
        grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
        align-items: flex-start;
    }
}

.sitemap {
    text-align: center;
    color: $textColor;

    @include breakpoint(viewMiddle) {
        grid-column: x0 / x1;
        grid-row: y0 / y2;
    }


    &__title {
        text-align: center;

        @include forTitles($textColor, normal, $shadowText);
    }

    &__li {
        padding: .3em;

        :hover {
            color: $iconColorHovers;
        }
    }

    &__links {
        text-decoration: none;

        @include forSecondaryText($textColor, normal, $shadowText);

        text-align: center;
    }
}

.address {
    height: 16em;

    @include breakpoint(viewMiddle) {
        height: 20em;
        margin-top: 1.5em;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        grid-column: x2 / x3;
        grid-row: y1 / y2;
    }


    &__ul {
        display: flex;
        flex-flow: column;
        align-items: center;
        list-style: none;
    }

    &__li {
        text-decoration: none;
        margin: 1em;
    }

    &__title {
        text-align: center;

        @include forSubtitles($textColor, normal, $shadowText);
    }

    &__subtitle {
        width: fit-content;
        text-decoration: none;
        border-bottom: 0.1em solid $iconColorHovers;
        left: 10px;
        @include forSecondaryText($textColor, normal, $shadowText);
    }

    &__par {
        text-align: center;

        @include forParagraph($textColor, normal, $shadowText);
    }
}

.newsletter {
    display: flex;
    flex-flow: column;
    align-items: center;

    @include breakpoint(viewMiddle) {
        grid-column: x2 / x3;
        grid-row: y0 / y1;
    }


    &__label {
        @include forTitles($textColor, normal, $shadowText);

        padding-bottom: .5em;
    }

    &__input {
        border: 2px solid $bordersColor;
        width: 50vw;
        padding: .6em;
        text-align: center;
        color: rgb(2, 1, 0);
        font-family: 'Comfortaa',  sans-serif;

        @include breakpoint(viewMiddle) {
            width: 20vw;
        }


        &::placeholder {
            padding: .6em;
            font-size: .8em;

            @include breakpoint(viewBig) {
                font-size: 1.2em;
            }
        }
    }

    &__btn {
        width: 50vw;
        padding: .6em;
        border: 2px solid $bordersColor;
        background-color: $iconMirrorColor;
        color: $textColor;
        font-family: 'Comfortaa',  sans-serif;

        @include breakpoint(viewMiddle) {
            width: 20vw;
        }


        &:hover {
            background-color: $iconColorHovers;
        }
    }
}

.social {
    font-size: 3em;

    @include breakpoint(viewMiddle) {
        grid-column: x1 / x2;
        grid-row: y0 / y2;
    }


    &__ul {
        list-style: none;
        display: flex;
        justify-content: center;
        
        @include breakpoint(viewMiddle) {
            padding-top: .1em;
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    }
    
    &__li {
        
        &:hover {
            animation: spinning 2s infinite ease-in-out;
        }
    }

    &__icon {
        text-decoration: none;
        padding: .3em;
        color: $iconColor;

        @include breakpoint(viewMiddle) {
            font-size: 1em;

        }
    }
    
    &__item {
        text-decoration: none;
        @include forClarification($textColor, normal, $shadowText);
        
        &:hover {
            color: $iconColorHovers;
        }
    }
}

.copyright {
    text-align: center;
    color: $textColor;

    @include breakpoint(viewMiddle) {
        grid-column: x0/x3;
        margin-top: 2.5em;
    }


    &__text {
        @include forLittleText($textColor, bold, $shadowText);
    }
}
